:root {
    --primary: #007bff;
    --dark: #212529;
    --light: #f8f9fa;
    --success: #28a745;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    max-width: 450px;
    width: 100%;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 { color: var(--dark); margin: 0; font-size: 1.5rem; }
p { color: #6c757d; font-size: 0.9rem; }

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.85rem;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-sizing: border-box; /* Garante que o padding não quebre a largura */
}

button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover { background-color: #0056b3; }

/* Resultado */
.result-container {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 2px solid #eee;
}

.hidden { display: none; }

.card-result {
    background: #f1f8ff;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid var(--success);
}

.res-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Estilo das Abas */
.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    border-bottom: 2px solid #eee;
}

.tab-btn {
    background: none;
    border: none;
    color: #666;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
}

.tab-btn.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

.tab-content.hidden { display: none; }

/* Estilo da busca */
.search-box { margin-bottom: 20px; }

#containerResultados {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-height: 250px;
    overflow-y: auto;
}

#listaResultados { list-style: none; padding: 0; margin: 0; }

.item-busca {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.item-busca:hover { background: #f8f9fa; }

strong { color: var(--dark); }